<header class="bg-gradient-to-r from-red-200 to-red-400">
    <div class="container">
        <a href="#" routerLink="/" class="logo">Food Mine!</a>
        <nav class="">
            <ul class="">
                <li class="nav-item ">
                    <a class="nav-link" href="#" routerLink="/cart-page">RECEPTES</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#" routerLink="/cart-page">IDEAS</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#" routerLink="/cart-page">FAVORITE</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#" routerLink="/cart-page">BASE</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#" routerLink="/cart-page">CART</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
